.carousel__container {
  margin: 20px auto;
}
.content__wrap {
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 5px;
  position: relative;
  transition: transform 0.25s;
}
.content__wrap:hover {
  transform: scale(1.1);
}
.carousel-img {
  opacity: 0.3;
  cursor: pointer;
  transition: transform 0.25s;
}
.carousel-img:hover {
  transform: scale(1.05);
}

.text {
  position: absolute;
  bottom: 10px;
  left: 15px;
}
.live {
  width: 40px;
  font-size: 10px;
  padding: 0.3px 10px;
  border: 1px solid #39ff14;
  border-radius: 12px;
}
.title,
.detail {
  font-size: 12px;
  opacity: 0.8;
}

@media (max-width: 786px) {
  .hide__item {
    /* removing left and right items */
    display: none !important;
  }

  .carousel-img {
    width: 300px;
  }
}
